[Unit]
Description=Kaholo agent
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/etc/kaholo/kaholo-agent
ExecStart=/usr/bin/nodejs /etc/kaholo/kaholo-agent/core/src/app.js

[Install]
WantedBy=multi-user.target

