[Unit]
Description=ProductionMap server

[Service]
EnvironmentFile=-/etc/default/production-map-agent
ExecStart=/usr/bin/nodejs /usr/lib/nodejs/production-map-agent/app.js 8090

[Install]
WantedBy=multi-user.target

